{% extends 'core/base.html' %}

{% block title %}Chatbox{% endblock %}

{% block content %}

<body>
  <h2 class="text-2xl text-center mb-12">Chat Box</h1>

<div  class = "max-w-xl p-8 " style=" margin: 13vh auto; border: 1px solid ; ">
    {% for chat in chats %}
    <a href="{% url 'description' chat.id %}">
        <div class="p-6 flex bg-gray-100 rounded-xl">
            <div class="pr-6">
                {% if chat.listing.listing_image %}
                    <img src="{{ chat.listing.listing_image.url }}" class="w-20 rounded-xl">
                
                {% endif %}
            </div>

             <div  class=" p-2 mt-1" style=" auto; border: 1px solid ; ">
                {% for individual in chat.community.all %}
                    {% if individual != request.user %}
                        <p class="mb-4">
                            <strong>{{ individual.username }}</strong> | {{ chat.modified_listing_at }}
                        </p>
                        <p>{{ chat.listing.listing_name }}</p>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </a>
{% endfor %}
</div>
{% endblock %}

</body>