{% extends 'core/base.html' %}

{% block title %}Privacy Policy{% endblock %}

{% block content %}
<section class = "p-5 max-w-4xl" style=" margin: 0 auto;">
    <h2 class="text-2xl text-center mb-12">Privacy Policy</h1>
        <div style="text-align: justify;" class="leading-8">
            <p>
                At Bazaar, your privacy is important to us. This Privacy Policy explains how we collect, use, and share your personal information.
            </p><br>
            <p>
                <strong>Information We Collect:</strong> Lorem ipsum odor amet, consectetuer adipiscing elit. Consectetur eros vulputate natoque rutrum ut imperdiet auctor cras. Volutpat eget pretium suscipit tincidunt integer malesuada, magnis fames leo. Nam cubilia quisque dignissim tellus tincidunt lectus iaculis consequat imperdiet. Nisl et egestas class cras vulputate. Senectus mus urna id sagittis pharetra ipsum dictumst senectus. Ad ante senectus adipiscing suspendisse ex.
            </p><br>
            <p>
                <strong>How We Use Your Information:</strong> Hendrerit senectus habitant maximus, magna dictumst maecenas. Urna dictum aliquam velit dis dolor ullamcorper pretium. Dolor dapibus aliquam tellus blandit dignissim dapibus fusce. Ipsum convallis laoreet consectetur dictum facilisi aliquam ut maecenas. Cras cras lacus cras auctor consequat nulla tortor. Quisque habitant quam; tempor penatibus ligula scelerisque. Sollicitudin rutrum nibh eleifend praesent commodo nisi risus non.
            </p><br>
            <p>
                <strong>Your Rights:</strong> Lectus a dignissim convallis egestas porttitor. Facilisi bibendum finibus tempor consectetur scelerisque quam molestie. Fermentum vehicula etiam dictumst ut ligula rhoncus. Sed porttitor sed lacinia volutpat penatibus elit. Diam consequat egestas natoque elementum integer vestibulum porttitor sollicitudin. Vulputate dui condimentum in ipsum ad velit. Habitant elementum ornare suspendisse facilisi justo ligula ridiculus diam pretium. Vulputate nam interdum taciti aptent integer inceptos. Semper luctus iaculis et cras maecenas quisque at. Libero finibus taciti justo mi ac proin dolor vulputate.
            </p><br>
            <p>
                For further details, please contact us at support@bazaar.com
            </p><br>
        </div>
    </section>
{% endblock %}