{% extends 'core/base.html' %}

{% block title %}Terms of Use{% endblock %}

{% block content %}
    <section class = "p-5 max-w-4xl" style=" margin: 0 auto;">
        <h2 class="text-2xl text-center mb-12">Terms of Use</h1>
        <div style="text-align: justify;" class="leading-8">
            <p>
                Welcome to Bazaar. By accessing or using our platform, you agree to the following Terms of Use.
            </p><br>
            <p>
                <strong>Account Responsibilities:</strong> Posuere mauris dictumst fringilla quisque, lacinia interdum nunc gravida? Porta tortor odio rhoncus euismod mollis. Sociosqu justo cursus scelerisque parturient ornare ultrices arcu. Tincidunt dolor odio placerat fusce taciti aliquet. Nunc nisl interdum litora gravida penatibus commodo ex quisque. Libero potenti nisl placerat tempor et. Luctus ipsum efficitur morbi enim curae phasellus litora vivamus. Aliquam leo ridiculus velit convallis donec dictumst porta.
            </p><br>
            <p>
                <strong>Prohibited Activities:</strong> Ultricies netus dignissim sociosqu nam congue a; auctor facilisis. Facilisis commodo lobortis hendrerit platea massa ligula. Habitasse dapibus neque pulvinar quam hendrerit scelerisque. Lobortis sagittis tortor facilisi felis vivamus mi. Proin bibendum litora lobortis suspendisse himenaeos fames. Agravida aliquam lorem, elementum malesuada phasellus velit per. Tempor etiam neque lacus consectetur nullam ex pretium. Hendrerit fames per tellus purus duis dis aptent congue.
            </p><br>
            <p>
                <strong>Liability:</strong> Facilisi nulla consequat potenti aptent sapien rhoncus nam laoreet. Massa praesent proin facilisis inceptos felis curae fermentum vel? Vivamus sodales magnis posuere; nullam finibus ullamcorper magna finibus. Congue sagittis mattis convallis eros cursus magna. Congue lectus aliquam sociosqu dis nostra litora fusce nunc. Consectetur egestas duis elementum dictumst mollis sapien massa. Dui convallis condimentum porta velit magnis mollis. Ipsum sed sociosqu sed dictumst ultricies eleifend mi convallis.
            </p><br>
            <p>
                For questions about these terms, please contact us at support@bazaar.com
            </p><br>
        </div>
    </section>
{% endblock %}